.about__container{
    .about__block{
        max-width: 843px;
        .image{
            width: 100%;
            margin-bottom: 24px;
        }
        .about__title{
            margin-bottom: 16px;
        }
        .about_text{

        }
    }
}