.main{
padding: 40px 0;
}
.wrapper {
  background: #F5F5F5;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #292929;
}
.text{
  font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #292929;
}
.paper{
  background: #FFFFFF;
border-radius: 12px;
padding: 32px 24px;
}