.contacts__container{
    .contacts__block{
        max-width: 843px;
        .image{
            width: 100%;
            margin-bottom: 24px;
        }
        .contacts__title{
            margin-bottom: 16px;
        }
        .contacts_text{

        }
    }
}